<%- include("partials/header"); -%>

    <h1>Whatever is begun in anger ends in shame</h1>
    <p>
        <%= pageContent %>
    </p>

    <% posts.forEach(function(post){ %>

        <h2><%= post.title %> </h2>
        <p>
          <%= post.content.substring(0,60) + "..." %>
          <a href="/posts/<%= post._id %> " >Read More</a> 
        </p>
        


   <% }); %>


                <%- include("partials/footer"); -%>
